<% if post.clear? %>
  <tbody class="admin-post-grouping admin-post-grouping-showing">
<% else %>
  <tbody class="admin-post-grouping admin-post-grouping-hidden">
<% end %>

  <tr class="admin-post">
    <td class="admin-time"><%= post.created_at.strftime("%m/%d %H:%M") %></td>
    <td class="admin-location"><%= post.spotted_at %></td>
    <td class="admin-hair"><%= post.hair %></td>
    <td class="admin-gender"><%= post.gender %></td>
    <td class="admin-content"><%= post.content %></td>
    <td class="admin-flags"><%= post.flagged %></td>
    <% if post.clear? %>
      <td class="admin-show admin-show-yes">Y</td>
    <% else %>
      <td class="admin-show admin-show-no">N</td>
    <% end %>
    <td class="admin-ok"><%= button_to "OK", location_post_clear_path(location, post), method: "POST" if post.status <= 0%></td>
    <td class="admin-hide"><%= button_to "Hide", location_post_path(location, post), method: :delete, data: {confirm: "Are you sure?"} if post.status >= -1 %></td>
  </tr>

  <% post.comments.each do |comment| %>
    <%= render partial: "show_row_comment", locals: {location: location, post: post, comment: comment} %>
  <% end %>
</tbody>