    <div class="admin-post"></p>
      <div class="admin-post-details">
        <p class="admin-timestamp"><%= post.created_at.strftime("%m/%d/%Y %H:%M") %></p>
        <p class="admin-location">Location: <%= post.spotted_at %></p>
        <p class="admin-hair">Hair: <%= post.hair %></p>
        <p class="admin-gender">Gender: <%= post.gender %></p>
      </div>

      <div class="admin-post-content">
        <p class="admin-content">Content: <%= post.content %></p>
      </div>

      <div class="admin-post-dashboard">
        <p class="admin-flags">Flags: <%= post.flagged %></p>

<!--         <%= form_tag location_post_clear_path(location, post), method: "POST" do %>
          <%= submit_tag("Mark OK") %>
        <% end %>

        <%= form_tag location_post_path(location, post), method: "DELETE" do %>
          <%= submit_tag("Delete") %>
        <% end %> -->

        <%= button_to "Mark OK", location_post_clear_path(location, post), method: "POST" %>
        <%= button_to "Delete", location_post_path(location, post), method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
    </div>