<tr>
  <td><%= comment.created_at.strftime("%m/%d %H:%M") %></td>
  <!-- maybe colspan filler instead? -->
  <td></td>
  <td></td>
  <td></td>
  <td><%= "#{comment.author_name}: #{comment.content}" %></td>
  <td><%= comment.flagged %></td>
  <td><%= comment.cleared %></td>
  <td><%= button_to "Mark OK", location_post_comment_clear_path(location, post, comment), method: "POST" %></td>
  <td><%= button_to "Delete", location_post_comment_path(location, post, comment), method: :delete, data: {confirm: "Are you sure?"} %></td>
</tr>