<%= link_to "Back to locations", admin_path %>
<%= link_to "Logout", logout_path %>

<div id="admin-tables">
  <table class="admin-table">
    <tr><td colspan="9">PRIORITIES (flagged by users)</tr>
    <%= render "admin_headers" %>

    <% @priorities.each do |post| %>
      <%= render partial: "admin_row_post", locals: {location: @location, post: post} %>
    <% end %>
  </table>

  <table class="admin-table">
    <tr><td colspan="9">ALL POSTS</td></tr>
    <%= render "admin_headers" %>

    <% @posts.each do |post| %>
      <%= render partial: "admin_row_post", locals: {location: @location, post: post} %>
    <% end %>

  </table>
</div>