<div id="location-backdrop"></div>
<div id="location-container">
  <div id="location-header">
    <h1 id="location-brand">Posy</h1>

    <a href="#">
      <%= icon('pencil-square-o', '', {class: "fa-lg", id: "location-write-icon"}) %>
    </a>
  </div>
  <div id="location-body">
    <div id="location-details">
      <h2 id="location-name"><%= @location.name %></h2>
      <h3 id="location-description"><%= @location.description %></h3> 
    </div>

    <div id="location-posts">
    </div> <!-- #location-posts -->

    <div id="location-complete">
    <%= icon('bolt', '', {class: "fa-lg", id:"location-complete-icon"}) %>
    </div>

    <a href="#">
      <%= icon('arrow-circle-up', '', {class: 'fa-lg', id: 'location-arrow-up'}) %>
    </a>
  </div> <!-- #location-body -->
</div>  <!-- #location-container -->