<div id="location_posts"></div>

<%= javascript_tag do %>
  window.postsPath = '<%= location_posts_path(@location.slug) %>';
  window.locationName = '<%= @location.name %>';
  window.logoSVG = '<%= asset_path "posy-logo.svg" %>'
  window.logoFallback = '<%= asset_path "posy-logo.png" %>'
  reactLocationReady();
<% end %>